{% extends 'base.html' %}
{% block content %}
<div class="col-md-7 c-padding-20">
                                <!-- BEGIN: BILLING ADDRESS -->
                                <h3 class="c-font-bold c-font-uppercase c-font-24">Billing Address</h3>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Country</label>
                                        <select class="form-control c-square c-theme">
                                            <option value="1">Malaysia</option>
                                            <option value="2">Singapore</option>
                                            <option value="3">Indonesia</option>
                                            <option value="4">Thailand</option>
                                            <option value="5">China</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">First Name</label>
                                                <input type="text" class="form-control c-square c-theme" placeholder="First Name"> </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Last Name</label>
                                                <input type="text" class="form-control c-square c-theme" placeholder="Last Name"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Company Name</label>
                                        <input type="text" class="form-control c-square c-theme" placeholder="Company Name"> </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Address</label>
                                        <input type="text" class="form-control c-square c-theme" placeholder="Street Address"> </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <input type="text" class="form-control c-square c-theme" placeholder="Apartment, suite, unit etc. (optional)"> </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Town / City</label>
                                        <input type="text" class="form-control c-square c-theme" placeholder="Town / City"> </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">State / County</label>
                                                <select class="form-control c-square c-theme">
                                                    <option value="0">Select an option...</option>
                                                    <option value="1">Malaysia</option>
                                                    <option value="2">Singapore</option>
                                                    <option value="3">Indonesia</option>
                                                    <option value="4">Thailand</option>
                                                    <option value="5">China</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Postcode / Zip</label>
                                                <input type="text" class="form-control c-square c-theme" placeholder="Postcode / Zip"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Email Address</label>
                                                <input type="email" class="form-control c-square c-theme" placeholder="Email Address"> </div>
                                            <div class="col-md-6">
                                                <label class="control-label">Phone</label>
                                                <input type="tel" class="form-control c-square c-theme" placeholder="Phone"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row c-margin-t-15">
                                    <div class="form-group col-md-12">
                                        <div class="c-checkbox c-toggle-hide" data-object-selector="c-account" data-animation-speed="600">
                                            <input type="checkbox" id="checkbox1-77" class="c-check">
                                            <label for="checkbox1-77">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span> Create an account? </label>
                                        </div>
                                        <p class="help-block">Create an account by entering the information below. If you are a returning customer please login.</p>
                                    </div>
                                </div>
                                <div class="row c-account" style="display: none;">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Account Password</label>
                                        <input type="password" class="form-control c-square c-theme" placeholder="Password"> </div>
                                </div>
                                <!-- BILLING ADDRESS -->
                                <!-- SHIPPING ADDRESS -->
                                <h3 class="c-font-bold c-font-uppercase c-font-24">Shipping Address</h3>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="c-checkbox-inline">
                                            <div class="c-checkbox c-toggle-hide" data-object-selector="c-shipping-address" data-animation-speed="600">
                                                <input type="checkbox" id="checkbox6-444" class="c-check">
                                                <label for="checkbox6-444">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> Ship to different address? </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-shipping-address" style="display: none;">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label">Country</label>
                                            <select class="form-control c-square c-theme">
                                                <option value="1">Malaysia</option>
                                                <option value="2">Singapore</option>
                                                <option value="3">Indonesia</option>
                                                <option value="4">Thailand</option>
                                                <option value="5">China</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">First Name</label>
                                                    <input type="text" class="form-control c-square c-theme" placeholder="First Name"> </div>
                                                <div class="col-md-6">
                                                    <label class="control-label">Last Name</label>
                                                    <input type="text" class="form-control c-square c-theme" placeholder="Last Name"> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label">Company Name</label>
                                            <input type="text" class="form-control c-square c-theme" placeholder="Company Name"> </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label">Address</label>
                                            <input type="text" class="form-control c-square c-theme" placeholder="Street Address"> </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <input type="text" class="form-control c-square c-theme" placeholder="Apartment, suite, unit etc. (optional)"> </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label">Town / City</label>
                                            <input type="text" class="form-control c-square c-theme" placeholder="Town / City"> </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">State / County</label>
                                                    <select class="form-control c-square c-theme">
                                                        <option value="0">Select an option...</option>
                                                        <option value="1">Malaysia</option>
                                                        <option value="2">Singapore</option>
                                                        <option value="3">Indonesia</option>
                                                        <option value="4">Thailand</option>
                                                        <option value="5">China</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label">Postcode / Zip</label>
                                                    <input type="text" class="form-control c-square c-theme" placeholder="Postcode / Zip"> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">Email Address</label>
                                                    <input type="email" class="form-control c-square c-theme" placeholder="Email Address"> </div>
                                                <div class="col-md-6">
                                                    <label class="control-label">Phone</label>
                                                    <input type="tel" class="form-control c-square c-theme" placeholder="Phone"> </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- SHIPPING ADDRESS -->
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Order Notes</label>
                                        <textarea class="form-control c-square c-theme" rows="3" placeholder="Note about your order, e.g. special notes for delivery."></textarea>
                                    </div>
                                </div>
                            </div>
        {% endblock %}