{% extends 'base.html' %}
{% block content %}

	<h2><span style="margin-left:100px; font-family: 'Lato',sans-serif; color:black; ">Registro Historial Médico</span></h2>
<br>
<center>
<header>
</header>


<style>
.has-error .form-control {
	border-color: #42275E;
	-webkit-box-shadow: none;
	box-shadow: none;
}

</style>
<form class="form-horizontal" method="POST">
	{% csrf_token %} 

					 <div class="form-group has-error">
                <label class="col-md-4 control-label" style="color:black; ">Paciente</label>
                <div class="col-md-6">
                    <select class="form-control  c-square c-theme" type= {{ form.Paciente_hm }}
                        
                     
                    </select>
                </div>
            </div>

	
			<div class="form-group has-error">
		            <label for="inputEmail3-1121" class="col-md-4 control-label" style="color:black; ">Fecha </label>
		            <div class="col-md-6">
		                <input class="form-control  c-square c-theme" id="inputEmail3-1121" placeholder="diagnóstico" type={{ form.Fecha }} 
		            </div>
			</div>
				<div class="form-group has-error">
		            <label for="inputEmail3-1121" class="col-md-4 control-label" style="color:black; ">Diagnóstico </label>
		            <div class="col-md-6">
		                <input class="form-control  c-square c-theme" id="inputEmail3-1121" placeholder="diagnóstico" type={{ form.Diagnostico }} 
		            </div>
			</div>
			
			<button type="submit" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" style="background: #42275E; color: #ffffff;">Guardar</button>
			<button type="reset" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" style="background: #42275E; color: #ffffff;">Limpiar</button>
</form>

</center>
<br>
<br>
{%endblock%}